h1 { 
    color: red;
}

body {
    background-color: aqua;
}

#red {
    color: red;
}

#orange {
    color: orange;
}

#yellow {
    color: yellow;
}

#green {
    color: green;
}

#purple {
    color: purple;
}

#aqua {
    color: aquamarine;
}

input {
   background-color: purple;
}

.my-button {
    float: right;
}

.row {
    margin-top: 1rem;
    margin-bottom: 1rem;
}